<h2 class="text text-center">My Profile</h2>
<br />
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="text text-center"><u>Account Info</u></h4>
      </div>
      <div class="panel-body">
        <div class="text text-center">
          <br />
          <p><strong>Name:</strong> <%= @user.name %></p>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><%= link_to 'Edit Profile Info', edit_user_registration_path, class: 'btn btn-success' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
